.panel.panel-default.mtop-12(ng-controller="LoanCtrl as loans")

    .panel-body
        form(name="loans_search_form").form-inline
            button.btn.btn-primary(ng-click="loans.addLoan()")
                span.icon-add
                | &#160; Add

        .mtop-12(ng-if="!loans.edit")
            table.table.table-condensed.table-bordered.table-hover.table-striped
                thead
                    tr
                        th Loan Number
                        th Loan Amount
                        th Interest Rate
                        th Term
                        th Payment type
                tbody
                    tr(ng-click="loans.editLoan($index)", ng-repeat="loan in loans.data.loans").selectable
                        td {{loan._id}}
                        td {{loan.loanAmount}}
                        td {{loan.interestRate}}
                        td {{loan.term}}
                        td {{loan.ipaymentTyped}}

        .mtop-12(ng-if="loans.edit")
            .panel.panel-default
                .panel-heading
                    .panel-title Add / Update Loan
                .panel-body
                    form(name="property_info_form", novalidate).form-horizontal

                        fieldset(name="loan_terms").well
                            .form-group
                                label.control-label.col-lg-3.col-md-4.col-sm-5 Loan Number
                                .col-lg-9.col-md-8.col-sm-7
                                    input(type="text", ng-model="loans.data.loan._id", required, disabled).form-control

                            .form-group
                                label.control-label.col-lg-3.col-md-4.col-sm-5 Loan Amount
                                .col-lg-9.col-md-8.col-sm-7
                                    .input-group
                                        span.input-group-addon $
                                        input(type="text", ng-model="loans.data.loan.loanAmount", required, currency).form-control
                            .form-group
                                label.control-label.col-lg-3.col-md-4.col-sm-5 Interest Rate
                                .col-lg-9.col-md-8.col-sm-7
                                    .input-group
                                        input(type="text", ng-model="loans.data.loan.interestRate", required, placeholder="4.125", number).form-control
                                        span.input-group-addon %
                            .form-group
                                label.control-label.col-lg-3.col-md-4.col-sm-5 Term (months)
                                .col-lg-9.col-md-8.col-sm-7
                                    input(type="text", ng-model="loans.data.loan.term", required, integer).form-control
                            .form-group
                                label.control-label.col-lg-3.col-md-4.col-sm-5 Payment Type
                                .col-lg-9.col-md-8.col-sm-7
                                    select(ng-model="loans.data.loan.paymentType", required).form-control
                                        option(value="Semi Monthly") Semi Monthly
                                        option(value="Monthly") Monthly
                                        option(value="Bi-Monthly") Bi-Monthly
                                        option(value="Quarterly") Quarterly
                                        option(value="Semi-Annual") Semi-Annual
                                        option(value="Annual") Annual
                                        option(value="None") None

                        fieldset(name="buttons").well
                            .form-group
                                label.control-label.col-lg-3.col-md-4.col-sm-5
                                .col-lg-9.col-md-8.col-sm-7
                                    button.btn.btn-primary(ng-click="loans.updateLoan()")
                                        span.icon-save
                                        | &#160; Update Loan
                                    button.btn.btn-danger(ng-click="loans.deleteLoan()")
                                        span.icon-trash
                                        | &#160; Delete Loan
                                    | &#160 or &#160;
                                    a(href="", ng-click="loans.getLoans()") return to loans
