form.form-horizontal(name='reset_credentials_form', novalidate)
    .alert.alert-success(ng-show='auth.successMessage')
        p
            strong Attention!
            br
            | Reset instructions have been sent to the email address provided. Please login. &#160;
            a(ui-sref="auth.login", ng-click="auth.showLogin()")
                span.icon-back
                | &#160; Return to Login Screen
    .form-group
        label.col-lg-2 Email:
        .col-lg-10
            input.form-control(type='email', ng-model='us.user.resetEmail', required)
            span.help-block
                | Enter the email address you used to sign up and the system
                | will send you reset instructions.
    div.button-group
        button.btn.btn-primary(ng-click='auth.sendResetInstructions()', ng-disabled='reset_credentials_form.$invalid', ng-hide="successMessage") Send Reset Instructions
        button.btn(ng-click='auth.sendResetInstructions()', ng-disabled='reset_credentials_form.$invalid', ng-show="successMessage") Send Reset Instructions
        | &#160; or &#160;
        a(ui-sref="auth.login", ng-click="auth.showLogin()") Cancel


