form(name='resetPasswordForm', novalidate).form-horizontal
    div.alert.alert-success(ng-show='auth.showInstructions')
        p
            strong Attention!
            br
            | You are here because you successfully logged in with a temporary password.
            | Please change your password now.

    div.form-group
        label.col-lg-2.col-md-2(for='password') Password
        .col-lg-10.col-md-10
            input.form-control(type='password', name="pwd", ng-model='us.user.password', placeholder='Password', required, ng-minlength='8', password-strength, not-username)
            | &#160;
            input.form-control(type='password', name="vpwd", ng-model='us.user.vpassword', placeholder='Verify Password', required, ng-minlength='8', match-password)
            span.help-block(ng-show='passwords_dont_match') Passwords don't match.
    div.form-group
        label.col-lg-2.col-md-2 Strength:
        .col-lg-10.col-md-10
            .strength(ng-class='strength') {{strength}}
    div.button-group
        button.btn.btn-primary(ng-click='auth.resetPassword()', ng-disabled='resetPasswordForm.$invalid') Reset Password
        | &#160; or &#160;
        a(ui-sref="auth.login", ng-click="auth.showLogin()") Cancel
