div(style="font-size:90%;max-height:300px;overflow-y:auto;margin-right:-14px;")
    h4 Agreement
    p These Terms of Use ("Terms") govern our relationship with end users who interact with the Family Fund Portal. By using or accessing the Family Fund Portal, you agree to these Terms.
    h4 Account Information
    p We require Family Fund Portal users to provide their real names and information. To help support this requirement, you agree to comply with the following when registering and maintaining your account on the Family Fund Portal.
    ul
        li Do not provide any false personal information on the Family Fund Portal, or create an account for anyone other than yourself.
        li Do not use the Family Fund Portal if you are under the age of 13.
        li Keep your account information up to date.
        li Do not share your password, let anyone else access your account, or do anything else that might jeopardize the security of your account.
        li Do not try to transfer your account to anyone else. There is simply no need to do so.
    h4 Safety
    p We do our best to keep the Family Fund Portal safe, but we cannot guarantee it. To help us keep it safe, we require that you comply with the following commitments:
    ul
        li Do not use the Family Fund Portal for any unlawful activity.
        li Do not solicit login information or access an account belonging to someone else.
        li Do not do anything to disable, overburden, or impair the ordinary and customary use of the Family Fund Portal, such as a denial of service attack.
    h4 Termination
    p If you violate these Terms, or otherwise create possible legal exposure for the Family Fund or any of our customers or users, we reserve the right to stop providing the Family Fund Portal access to you. While we will try to notify you by email before we suspend your account, you acknowledge that we are not required to do so.
    p You agree to resolve any claim, cause of action or dispute ("claim") you have with the Family Fund arising out of or relating to these Terms or use of the Family Fund Portal exclusively in a state or federal court located in Salt Lake County Utah. The laws of the State of Utah will govern these Terms, as well as any claim that might bring against us, without regard to conflict of law provisions. You agree to submit to the personal jurisdiction of the courts located in Salt Lake County, Utah for the purposes of litigating all such claims.
    p You agree to indemnify and hold us harmless from and against all damages, losses, and expenses of any kind (including reasonable legal fees and costs) related to any claims brought against us arising out of your actions in using the Family Fund Portal.
    p WHILE WE TRY TO KEEP THE CHENOA FUND PORTAL RUNNING, DEFECT-FREE, AND SAFE, WE CAN'T AND DON'T GUARANTEE YOUR USE OF IT. YOU USE IT AT YOUR OWN RISK. WE PROVIDE THE CHENOA FUND PORTAL TO YOU "AS IS" WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE DO NOT GUARANTEE THAT THE CHENOA FUND PORTAL WILL BE SAFE, SECURE OR AVAILABLE. THE CHENOA FUND IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE US, OUR DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES. WE ARE NOT LIABLE TO YOU FOR ANY LOST PROFITS OR OTHER CONSEQUENTIAL, SPECIAL, INDIRECT, OR INCIDENTAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR YOUR USE OF THE CHENOA FUND PORTAL, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. OUR AGGREGATE LIABILITY ARISING OUT OF THESE TERMS, OUR PRIVACY POLICY OR YOUR USE OF THE CHENOA FUND PORTAL WILL NOT EXCEED THE GREATER OF ONE HUNDRED DOLLARS ($100) OR THE AMOUNT YOU HAVE PAID US IN THE PAST TWELVE MONTHS. APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN SUCH CASES, OUR LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.
