<!DOCTYPE>
html(ng-app="main")
    head
        meta(charset='utf8')
        base(href='/')
        title Angular Express Mongoose Seed App
        link(rel='stylesheet', href='/css/app.css')
    body(ng-controller="MainCtrl")

        include nav
        <div ui-view></div>
        include footer

    include scripts
