!!!
html(ng-app="myApp")
    head
        meta(charset='utf8')
        base(href='/')
        title Angular Express Mongoose Seed App
        link(rel='stylesheet', href='/css/app.css')
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href='/') Angular-Express-Mongoose-Seed
        <div ui-view></div>

    include scripts
